body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: #7b7a7a;    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
